<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Battleship</h1>
        <div class="board-container">
            <div class="player-container">
                <h3>Friendly Waters</h3>
                <div class="gameboard player-gameboard">
                </div>
            </div>
            <div class="computer-container">
                <h3>Enemy Waters</h3>
                <div class="gameboard computer-gameboard">
                </div>
            </div>
        </div>
    </div>
</body>
</html>